.book {
  display: inline-block;
  width: 230px;
  -webkit-box-shadow: 0 0 20px #aaa;
          box-shadow: 0 0 20px #aaa;
  margin: 25px;
  padding: 10px 10px 0 10px;
  vertical-align: top;
  -webkit-transition: height 1s;
  transition: height 1s;
}

.book .delete__icon__container {
  text-align: right;
}

.book .cover {
  border: 2px solid gray;
  height: 286px;
  overflow: hidden;
}

.book .cover img {
  width: 100%;
}

.book .description {
  margin-top: 12px;
  font-size: 12px;
}

.book .description .title {
  font-size: 20px;
}

.book .genre {
  text-transform: capitalize;
}
/*# sourceMappingURL=BookDisplay.css.map */